
<div class="container my-5">
    <section (click)="handleClick(blogs[0].id)" id="mainBlog" class="blog d-flex justify-content-around mb-5">
        <img class="blogIMG" src={{blogs[0].image_url}} alt="">
        <div class="blogDetails">
            <span>
                <p class="category">{{blogs[0].category}} . {{blogs[0].post_date}}</p>
            </span>
            <h3>{{blogs[0].title}}</h3>
            <p>{{blogs[0].body}}</p>
            <span class="d-flex">
                <img src={{blogs[0].author_image}} alt="">
                <p>{{blogs[0].author}}<br>{{blogs[0].author_title}}</p>
            </span>
        </div>
    </section>
    <section class="d-flex justify-content-around">
        <div class="blog mx-3" *ngFor="let blog of blogs" (click)="handleClick(blog.id)">
            <img class="card-img" src={{blog.image_url}} alt="">
            <div class="card-body">
                <span>
                    <p class="category">{{blog.category}} . {{blog.post_date}}</p>
                </span>
                <h3>{{blog.title}}</h3>
                <p>{{blog.body}}</p>
                <span class="d-flex">
                    <img src={{blog.author_image}} alt="">
                    <p>{{blog.author}}<br>{{blog.author_title}}</p>
                </span>
            </div>
        </div>
    </section>
</div>