/* :root {
    --mainColor: rgb(178, 255, 255);
    --lightTextColor: rgb(97, 97, 97); 
}  */

.homeHeader{
    height: clamp(15vh, 30vh, 30vh);
    background-image: linear-gradient(to top right, rgb(255,255,255), rgb(178, 255, 255));
    display: flex;
    justify-content: center;
}
.headImg{
    width: 10rem;
    margin: auto 0;
}
.headTitle{
    display: inline;
    margin: auto 2rem;
    font-weight: 500;
    font-size: 5rem;
}
.catalouge{
    padding: 2rem 3rem;
}

/* carousel type thing */
.blog{
    padding: 1em;
    border-radius: 10px;
    transition: border-color 300ms ;
    border: 1px solid;
    border-color: #fff;
    cursor: pointer;
    max-height: 40rem;
    max-width: 20rem;
    margin: 0 auto;
}
.blog:hover{
    border-color: rgb(172, 172, 172);
} 
.blogImg{
    width: 100%;
    height: fit-content;
    margin: auto;
    max-width: 20rem;
    border-radius: 10px;
}
.blogDetails{
    margin: 1rem auto;
}
.category{
    font-weight: 500;
}
.postDate{
    font-weight: 400;
    color: rgb(97, 97, 97);
}
.title{
    font-weight: 600;
}
.description{
    max-height: 5pc;
    text-overflow: ellipsis;  
    overflow: hidden;
}
.author{
    display: flex;
    gap: 1rem;
}
.authorImg{
    width: 3rem;
    height: fit-content;
    border-radius: 50%;
}
.authorName{
    margin: auto 0;
    font-weight: 500;
}
.authorTitle{
    font-weight: 400;
    color: rgb(97, 97, 97);
}

@media screen and (max-width: 450px) {
    .headTitle{
        margin: auto 1rem;
        font-size: xx-large
    }
}


@media screen and (min-width: 450px) {
    .catalouge{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-row: auto;
        gap: 3rem;
    }
    .mainBlog{
        display: flex;
        max-width: none;
        gap: 3rem;
        justify-content: center;
        grid-column: span 3;
    }    
}


