
.blogIMG{
    width: 65%;
    object-fit: contain;
}
.blogDetails{
    margin: 0 1em;
    width: 30%;
}

.card{
    border: none
}
.category{
    font-weight: 600;
}

#mainBlog{
    padding: 1em;
}
.blog{
    border-radius: 10px;
    transition: border-color 300ms ;
    border: 1px solid;
    border-color: #fff;
    cursor: pointer;
}
.blog:hover{
    border-color: rgb(172, 172, 172);
}