
<section class="homeHeader">
    <img class="headImg" src="./assets/imgs/blogging.png" alt="">
    <p class="headTitle">The Blog</p>
</section>
<section *ngIf="blogs" class="catalouge">
    <div (click)="handleClick(blogs[0]._id)" class="mainBlog blog">
        <img class="blogImg" src={{blogs[0].imgUrl}} alt="">
        <div class="blogDetails">
            <span>
                <p class="category">{{blogs[0].category}} . <span class="postDate">{{ blogs[0].postdate | date}}</span></p>
            </span>
            <h2 class="title">{{blogs[0].title}}</h2>
            <p class="description">{{blogs[0].body}}</p>
            <span class="author">
                <img class="authorImg" src={{blogs[0].authorImg}} alt="">
                <p class="authorName">{{blogs[0].author}}<br><span class="authorTitle">{{blogs[0].authorTitle}}</span></p>
            </span>
        </div>
    </div>
    <div *ngFor="let blog of blogs | slice:1" (click)="handleClick(blog._id)" class="blog">
        <img class="blogImg" src={{blog.imgUrl}} alt="">
        <div class="blogDetails">
            <span>
                <p class="category">{{blog.category}} . <span class="postDate">{{ blog.postdate | date}}</span></p>
            </span>
            <h2 class="title">{{blog.title}}</h2>
            <p class="description">{{blog.body}}</p>
            <span class="author">
                <img class="authorImg" src={{blog.authorImg}} alt="">
                <p class="authorName">{{blog.author}}<br><span class="authorTitle">{{blog.authorTitle}}</span></p>
            </span>
        </div>
    </div>
</section>
