<nav class="navbar-expand-sm navbar-light bg-light p-3">
    <div class="container-fluid d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand nav-link" href="/blogs">Website.com</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <div class="d-flex align-items-center">
                    <li class="nav-item" routerLinkActive="activeItem">
                        <a class="nav-link" routerLink="/editBlog">Edit Blog</a>
                        <div class="navUl"></div>
                    </li> 
                    <li class="nav-item" routerLinkActive="activeItem">
                        <a class="nav-link" routerLink="/addBlog">Add Blog</a>
                        <div class="navUl"></div>
                    </li> 
                    <!-- <li class="nav-item" routerLinkActive="activeItem">
                        <a class="nav-link" >Careers</a>
                        <div class="navUl"></div>
                    </li>  -->
                    <li class="nav-item" routerLinkActive="activeItem">
                        <a class="nav-link" routerLink="/blogs">Blogs</a>
                        <div class="navUl"></div>
                    </li>
                    <li class="nav-item">
                        <a class="btn">Get in touch</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>