<nav class="navbar">
    <b #toggle class="logo-toggle" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
        <!-- Website.com -->
    </b>
    <a class="btn btn-contact" target="_blank" href="https://www.linkedin.com/in/ibrahim-alwali/">Get in touch</a>
</nav>

<mat-drawer-container class="nav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side">
        <ul class="item-container">
            <li class="nav-item" routerLinkActive="activeItem">
                <a class="nav-link" routerLink="/blogs">
                    <mat-icon>newspaper</mat-icon>
                    Blogs
                </a>
                <div class="navUl"></div>
            </li>
            <li class="nav-item" routerLinkActive="activeItem">
                <a class="nav-link" routerLink="/editBlog">
                    <mat-icon>edit</mat-icon>
                    Edit Blog
                </a>
                <div class="navUl"></div>
            </li> 
            <li class="nav-item" routerLinkActive="activeItem">
                <a class="nav-link" routerLink="/addBlog">
                    <mat-icon>add</mat-icon>
                    Add Blog
                </a>
                <div class="navUl"></div>
            </li>
        </ul>
        <a class="btn btn-primary w-100" (click)="drawer.close()">Close</a>
    </mat-drawer>
</mat-drawer-container>