<div class="container my-5">
    <section>
        <h1>Select Blog to Edit</h1>
        <form [formGroup]="selectForm" class="selectForm">
            <ng-select (change)="handleSelect()" class="custom" name="" id="blogs" formControlName="blogID">
                <ng-option value='no'>Select Blog</ng-option>
                <ng-option *ngFor="let blog of blogs" value={{blog._id}}>{{blog.title}} by {{blog.author}}</ng-option>
            </ng-select>
        </form>
    </section>
    <section>
        <h1>Edit selected blog</h1>
        <div>
            <form [formGroup]="editForm" class="editForm">
                <div class="taGroup">
                    <label class="taLabel" for="body">Blog Body</label>
                    <textarea class="inputArea" name="" id="" cols="30" rows="20" required formControlName="body"></textarea>
                </div>
                <div class="moreDetails">
                    <div class="inputGroup">
                        <input class="inputArea" type="text" name="title" required formControlName="title">
                        <label class="inputLabel" for="title">Title</label>
                    </div>
                    <div class="inputGroup">
                        <input class="inputArea" type="text" name="category" required formControlName="category">
                        <label class="inputLabel" for="category">Category</label>
                    </div>
                    <div class="inputGroup">
                        <input class="inputArea" type="text" name="author" required formControlName="author">
                        <label class="inputLabel" for="author">Author</label>
                    </div>
                    <div class="inputGroup">
                        <input class="inputArea" type="text" name="authorTitle" required formControlName="authorTitle">
                        <label class="inputLabel" for="authorTitle">Author Title</label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" (click)="openPopup()">{{fileName || "Add Image!"}}</button>
                    </div>
                </div>
                <button class="btn btn-primary" (click)="handleEdit()">Submit</button>
                <button class="btn btn-danger" (click)="deleteBlog()">Delete</button>
            </form>
        </div>
    </section>
</div>

<div [ngClass]="popupContainer">
    <div class="popup text-center">
        <h2>{{fileName || "No file"}} Selected.</h2>
        <button class="upload-btn btn btn-warning"(click)="fileUpload.click()">Select Image!</button>
        <br>
        <button class="btn btn-danger" (click)="closePopup()">Cancel</button>
    </div>
</div>

<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>